@import 'color';
@import 'mixin';

footer {
  background-color: $secondaryColor;
  height: 10%;
  text-align: center;
  color: $secondaryTextColor;
  padding: 20px 60px;
  font-weight: 450;
  a:hover {
    color: $linkHover;
  }
  p {
    font-size: 14px;
    @include resetSpacing;
    text-align: center;
  }
}

.dark {
  footer {
    background-color: $secondaryColorDark;
    color: $textColorDark;
    a:hover {
      color: $linkHoverDark;
    }
  }
}
