@import 'color';
@import 'mixin';

$indentSpace: 30px;

body {
  margin: 0;
  background-image: url('../images/bg.png');
  background-size: 20%;
  color: $textColor;
}

main {
  width: 80%;
  margin: auto;
  border: {
    left: 1px dotted white;
    right: 1px dotted white;
  }
  background-color: $bgColor;
  padding: 0 30px;
  align-content: center;
}

aside {
  width: max-content;
  margin: 0 auto 30px;
  background-color: $secondaryColor;
  border: 4px ridge white;
  height: min-content;
  padding: {
    top: 10px;
    right: 30px;
  }
  a {
    color: $textColor;
    &:hover {
      color: $linkHover;
    }
  }
  li {
    list-style-type: upper-roman;
  }
}

article {
  right: 100px;
  margin: auto;
  p {
    text-indent: $indentSpace;
    text-align: justify;
  }
  padding-bottom: 20px;
  div {
    margin-bottom: 50px;
  }
}
h1 {
  @include resetSpacing;
  text-align: center;
  padding: 30px 0;
}
h2 {
  text-align: center;
  font-size: 20px;
}

//Computer
@media (min-width: 1200px) {
  section {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  aside {
    width: 30%;
    margin-right: 3%;
  }
  article {
    width: 65%;
  }
  h2 {
    text-align: left;
    text-indent: $indentSpace;
  }
}
